@{ ViewData["Title"] = "Cliente > Detalle"; }

@model Cliente

<h1>Detalles sobre el usuario: @Model.Nombre</h1>

<div class='container'>
<form asp-action="Create" enctype="multipart/form-data">
  <div class="form-group">
    <label for="Id">Id:</label>
    <input readonly type="text" class="form-control" required id="Id" aria-describedby="Id" placeholder="@Model.Id">

    <small id="dId" class="form-text">Id del usuario</small>
  </div>
  <div class="form-group">
    <label for="Nombre">Nombre:</label>
    <input readonly type="text" class="form-control" required id="Nombre" aria-describedby="Nombre" placeholder="@Model.Nombre">

    <small id="dNombre" class="form-text">nombres</small>
  </div>
  <div class="form-group">
    <label for="Direccion">Direccion:</label>
    <input readonly type="text" required class="form-control" id="Direccion" aria-describedby="Direccion" placeholder="@Model.Direccion">
    <small id="dDireccion" class="form-text">direccion como ejido edandial</small>
  </div>
  <div class="form-group">
    <label for="Telefono">Telefono:</label>
    <input readonly type="text" required class="form-control" id="Telefono" aria-describedby="Telefono" placeholder="@Model.Telefono">
    <small id="dTelefono" class="form-text">como 551033293</small>
  </div>
  <div class="form-group">
    <label for="Correo">Correo:</label>
    <input readonly type="text" required class="form-control" id="Direccion" aria-describedby="Correo" placeholder="@Model.Correo">
    <small id="dCorroe" class="form-text">direccion de correo como alguien@outlook.com </small>
  </div>
  <button  asp-action="Index" type="submit" class="btn btn-primary">Hecho</button>
  <!--<button class="btn btn-warning" asp-action="Index">Cancelar</button>
    -->
</form>
</div>